{% extends 'base.html' %}

{% block center %}
  <div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <img src="{{ reserva.img.url }}" alt="imagem da reserva" />
          <div class="card-body">
            <h5 class="card-title">CNPJ: {{ reserva.cnpj }}</h5>
            <p class="card-text">Nome empresa: {{ reserva.nome_empresa }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <small class="text-muted">Categoria: {{ reserva.categoria_empresa }}</small>
              </div>
              <div>
                <small class="text-muted">Quitado: {{ reserva.quitado }}</small>
              </div>
              <div>
                <small class="text-muted">Data: {{ reserva.data }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}