{% extends 'base.html' %}

{% block center %}
<h2 id='indextitle'>Reservas Finecap
</h2>

{% if user.is_authenticated %}
    <span style="color: rgb(71, 65, 65); font-size: 20px;"><p>Logado como: {{ user.username }}</p></span>
{% endif %}
<hr> 
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src = "https://th.bing.com/th/id/OIP.IEalyhQsqqk39aRE4VzpnAHaFN?pid=ImgDet&rs=1" alt="Imagem da reserva">
            </div>
            <hr>
            <h6 style="text-align: justify;">A Feira Intermunicipal de Educação, Cultura, Turismo e Negócios do Alto Oeste Potiguar é um evento intercultural de Pau dos Ferros, município brasileiro no interior do estado do Rio Grande do Norte</h6>
            <br>
        </div>
    </div>
</div>
</div>


{% endblock %}