{% extends 'base.html' %}

{% block center %}
<h2 id='indextitle'>Reservas de Stands</h2>
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src = "https://th.bing.com/th/id/OIP.IEalyhQsqqk39aRE4VzpnAHaFN?pid=ImgDet&rs=1" alt="Imagem da reserva">
            </div>
            <p>A Feira Intermunicipal de Educação, Cultura, Turismo e Negócios do Alto Oeste Potiguar é um evento intercultural de Pau dos Ferros, município brasileiro no interior do estado do Rio Grande do Norte</p>
        </div>
    </div>
</div>
</div>


{% endblock %}