{% extends 'base.html' %}

{% block center %}
<h2>Lista de Produtos</h2>

<div class="card-body mb-4 space">
    <form method="GET" action="">
        <label>Nome da empresa: </label>
        <input type="text" name="nome_empresa" placeholder="Pesquisar">
        <label>Valor do Stand: </label>
        <input type="float" name="valor" placeholder="Pesquisar">
        <label>Quitado </label>
        <input type="checkbox" name="quitado" placeholder="Pesquisar">
        <label>Não quitado </label>
        <input type="checkbox" name="naoquitado" placeholder="Pesquisar">
        <label>Data de reserva: </label>
        <input type="date" name="data" placeholder="Pesquisar">

        <input type="submit" value="Pesquisar" id="buttonSearch">
    </form>
</div>

<a href="{% url 'reserva_criar' %}" class="btn btn-success mb-3">Nova reserva</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>CNPJ</th>
            <th>Nome_empresa</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for res in pagina_obj %}
        <tr>
            <td>{{ res.cnpj }}</td>
            <td>{{ res.nome_empresa }}</td>
            <td>
                <a href="{% url 'reserva_remover' id=res.id %}" class="btn btn-danger btn-sm">Remover</a>
                <a href="{% url 'reserva_detalhar' id=res.id %}" class="btn btn-sm btn-outline-secondary">Ver
                    Detalhes</a>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if pagina_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?pagina={{ pagina_obj.previous_page_number}}">Voltar</a></li>
      {% endif %}
      {% for page in pagina_obj.page.pagination.page_range %}
      <li class="page-item"><a class="page-link" href="?pagina={{ page }}">{{ page }}</a></li>
      <li class="page-item"><a class="page-link" href="?pagina={{ pagina_obj.next_page_number}}">Próxima</a></li>
    </ul>
  </nav>
{% endblock %}